.containerForFightDices {
  display: flex;
  flex-direction: column;
}

.choseYourDice {
  margin: 2px;
  padding: 1px;
  background-color: white;
  min-width: 95%;
}

.choseYourDice:hover {
  background-color: tomato;
}

.diceContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.dice {
  border: 1px white solid;
  margin: auto;
  width: 40px;
  height: 40px;
  background: url("../images/dice.png") no-repeat center center !important;
  /*   background-repeat: no-repeat; */
  background-size: contain;
  font: 800 40px system-ui;
}

.dice:hover {
  border: 1px black solid;
}

.numberContainer {
  color: red;
  width: 15px;
  font: 800 40px system-ui;
  padding: 3px;
  font-size: medium;
}
